.tac {
  text-align: center;
}

.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ma {
  margin: 0;
}
.b {
  font-weight: bold;
}